.ipynb_checkpoints/
captions/
annotations/
*.py~
train2014/
val2014/
*.pyc
*.bak
tmp.json
models/*
data/*
models/*
results/*
models_copy/*
images/*
summaries/*
models_copy/*
acoustic-guitar-player.jpg
*.tar
*.npy
*.tar.1
.idea/
best_model/
models_backup/
pycocoevalcap/
pycocotools/
models_backup_sgd/
models_not_work/
summaries_backup_sgd/
summaries_not_work/
